@use 'variables';
@use 'header';
@use 'hero'; 
@use 'synopsis';
@use 'characters';
@use 'gallery';
@use 'news';
@use 'trailer';
@use 'footer';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: variables.$corTextoPrincipal;
}

body {
    background-color: variables.$corDeFundo;
    line-height: 1.6;
}

.section-title {
    text-align: center;
    margin: 40px 0;
    font-size: 2.5em;
    color: variables.$corTextoSecundario;

    @media (max-width: 767px) {
        color: variables.$corTituloPrincipal;
    }
}